addons:
  chrome: stable
language: python
sudo: false
node_js: 10.15
python: 3.7
cache: pip
env:
  - TOXENV="py37_django22"
install:
  - sudo curl --output /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/85.0.4183.87/chromedriver_linux64.zip
  - sudo unzip /tmp/chromedriver.zip -d /usr/local/bin/
  - pip install --upgrade pip setuptools --quiet
  - pip install -U -r requirements.txt --trusted-host dist.pinaxproject.com
  - pip install Image --quiet
  - pip install tox --quiet
  - npm ci
  - npm run compile
  - npm run optimize
script:
  - tox -e $TOXENV
